/*
    font-family: 'Abril Fatface', cursive;

    font-family: 'Limelight', cursive;

    font-family: 'Monoton', cursive;

    font-family: 'Montserrat', sans-serif;

    font-family: 'Neuton', serif;

    font-family: 'Open Sans', sans-serif;

    font-family: 'Courier Prime', monospace;
*/

:root {
    --pink-color: #DD245C;
    --blue-color:#2371A1;
    --dark-color: #333333;
    --pale-color:  #D3F0F0;
    --medium-color: #ace7e4;
    --white: #E4F5F7;
    --yelow: #E5E54E;
    --turquoise: #7FD7F0;
    --lilac: #8A7FF0;
    --pale-pink: #E5AECE;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.7;
    color: #1b1b1b;
    background-color: var(--medium-color);
    box-sizing: border-box;
}

.body-default {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-default {
    margin: 15rem 3vw auto;
}

.main-projects {
    margin: 10rem 3vw auto;
}

.main__content {
    padding: 6rem 5vw 5rem;
    text-align: left;
    hyphens: auto;
    background-color: var(--white);
    border-radius: 15px;
    border: 1px solid var(--dark-color);
}

.main__sidebox {
    display: none;
}

// COMMON CLASSES
    
.header1 {
    font-size: 2.5rem;
    font-family: 'Courier Prime', monospace;
    font-weight: 400;
} 

.pink {
    color: var(--pink-color);
}

.blue {
    color: var(--blue-color);
}

.center {
    text-align: center;
}

.detail {
    font-size: 1.2rem;
}

.video {
    width: 755px;
    height: 424px;
    max-width: 90%;
    max-height: calc((100vw - 40px) / (16/9));
}

.project-video {
    width: 755px;
    height: 424px;
    max-width: 90%;
    max-height: calc((100vw - 40px) / (16/9));
    margin: 2rem;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

// HIDDING IMAGES
#giraffe-pink {
    display: none;
}

#fish-pink {
    display: none;
}

#bunny-pink {
    position: relative;
    width: 15rem;
    bottom: 5rem;
    margin-bottom: -10rem;
}

// SITE FOR LARGE SCREENS

@media screen and (min-width: 700px) { 

    .main-default {
        margin: 18rem 15vw auto 15vw;
    }
    
    .main-projects {
        margin: 12rem 8vw auto 8vw;
    }

    .main__content {
        padding: 5vw;
        text-align: justify;
    }
    
    .main__sidebox {
        display:block;
        border: 1px solid var(--dark-color);
        padding: 5vw;
        text-align: justify;
        hyphens: auto;
        z-index: -1;
        position: absolute;
        width: 69vw;
        border-radius: 15px;
        margin-left: -20px;
        margin-top: -20px;
    }
    
    .main__sidebox-turquoise {
        background-color: var(--turquoise);
        color: var(--turquoise);
    }
    
    .main__sidebox-pale-pink {
        background-color: var(--pale-pink);
        color: var(--pale-pink);
    }
    
    .main__sidebox-lilac {
        background-color: var(--lilac);
        color: var(--lilac);
    }
    
    .main__sidebox-yellow {
        background-color: var(--yelow);
        color: var(--yelow);
    }

    // IMAGES

    #giraffe-pink {
        display: block;
        width: 15vw;
        position: absolute;
        right: 4rem;
        top: 20rem; 
        transform: scaleX(-1);
    }

    #fish-pink {
        display: block;
        width: 15vw;
        position: absolute;
        left: 8vw;
        top: 80rem; 
    }

    #bunny-pink {
        position: relative;
        width: 12vw;
        right: 3rem;
        bottom: 5rem;
        margin-bottom: -10rem;
    }
    
    .header1 {
        font-size: 3rem;
    }

    .project-video {
        max-height: calc((50vw - 40px) / (16/9));
    }
}

