.project-image {
    background-size: cover;
    width: 100%;
    height: 65%;
}

.cpong {
    background-image: url(../images/cpong.png);
}

.guarapong {
    background-image: url(../images/guarapong.png);
}

.kittypong {
    background-image: url(../images/kittypong.png);
}

.moonpong {
    background-image: url(../images/moonpong.png);
}

.skelepong {
    background-image: url(../images/skelepong.png);
}

.madokapong {
    background-image: url(../images/madokapong.png);
}

.luis {
    background-image: url(../images/scratch-luis.png);
}

.anna {
    background-image: url(../images/scratch-anna.png);
}

.erika {
    background-image: url(../images/scratch-erika.png);
}

.helena {
    background-image: url(../images/scratch-helena.png);
}

.joao {
    background-image: url(../images/scratch-joao.png);
}

.lara {
    background-image: url(../images/scratch-lara.png);
}

.lei {
    background-image: url(../images/scratch-lei.png);
}

.mateus {
    background-image: url(../images/scratch-mateus.png);
}

.thais {
    background-image: url(../images/scratch-thais.png);
}